<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand"><strong>URLockbox</strong></a>
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" data-method="delete">Logout</a>
      </ul>
    <% end %>
  </div>
</nav>
