<div class="">
  <center>
    <h1>Welcome to URLockbox</h1>
  </center>
  <div class="page-content jumbotron text-center">
    <p>To utilize this app you must</p>
    <a href="/login">Log In</a> | <a href="/users/new">Sign Up</a>
  </div>
</div>
